{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="genre">Category Name:</label>
        {{ form_widget(form.Name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Category name'
            }
        }) }}
    </div>

    <div class="form-group">
        <label for="genre">Description:</label>
        {{ form_widget(form.Description,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Description'
            }
        }) }}
    </div>

    <div class="mt-md-2 flex-column buttons">
        <input type="submit" name="app_create" value="Create" class="btn btn-primary"/>
        {#                        <input type="submit" name="app_edit" value="Edit" class="btn btn-primary"/>#}
        {#                        <input type="submit" name="app_delete" value="Delete" class="btn btn-primary"/>#}
    </div>
    {{ form_end(form) }}

{% endblock %}